:root {
  --blue: #4F66EE;
  --silver: #999999;
  --gray: #777777;
  --near-black: #212123;
}

body {
  font-family: "Work Sans", sans-serif;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border-top: 1px solid var(--gray);
  padding: 8px 16px 8px 0;
  text-align: left;
  vertical-align: top;
}

thead th {
  border-top-color: var(--silver);
  border-top-width: 3px;
}

.bg-blue-o-10 {
  background-color: rgba(79, 102, 238, .1);
}
